@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700&display=swap");

body {
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.container-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
}
